/*/// ADMIN CAMPAIGN BAR ///*/

/*/// wtf is this? */
.bootstrap .navbar::before, .bootstrap #header_infos::before, .bootstrap .navbar::after, .bootstrap #header_infos::after {
    content: unset!important;
    display: none!important;
}

.bootstrap .navbar-header::before, .bootstrap .navbar-header:before {
    content: ""!important;
    display: none !important;
}

.bootstrap .navbar-header::after, .bootstrap .navbar-header:after {
    content: "" !important;
    display: none !important;
}

.campaign-bar-on .tb-admin-campaign-bar {
    border: 1px solid red;
    display: inline-grid;
    width: 100%;
    background: red;
    /*grid-template-columns: auto auto auto auto 1fr auto;*/
}

.tb-admin-campaign-bar ul, .tb-admin-campaign-bar div, .tb-admin-campaign-bar #header_shopversion, .tb-admin-campaign-bar #header_shopname {
    border: 1px solid blue;
}

.campaign-bar-on .tb-admin-campaign-bar{
    border: 1px solid red;
    display: inline-grid;
    width: 100%;
    background: red;
    grid-template-columns: auto auto auto auto auto;
}

#header_shopversion {
    background-color: grey;
}

#header_shopname {
    background-color: purple;
}

.notifications-quick-access-holder {
    background-color: yellow;
}

.campaign-bar-holder {
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    background: pink;
}

.campaign-bar-on .tb-admin-campaign-bar .campaign-bar-holder-inner {
    background-color: transparent;
    display: inline-grid;
    grid-template-columns: 16px max-content max-content;
    grid-column-gap: 7px !important;
    width: auto;
}

#header_employee_box {
    background: blue;
}


span.maintenance-mode {
    display: none !important;
}

.maintenance-mode-on span.maintenance-mode {
    display: inline-block!important;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-icon {
    width: 16px;
    height: 16px;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-text {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400 !important;
    color: #000000 !important;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-text b {
    margin-left: 5px;
    margin-right: 5px;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-cta {
    display: inline-flex;
    align-items: center;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-cta a {
    display: inline-flex;
    align-self: center;
    width: auto !important;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    /*background: #4AAE35;*/
    background: linear-gradient(to bottom, rgba(58, 138, 39, 1) 0%,rgba(76, 179, 55, 1) 100%);
    border: 1px solid #307322;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color: #ffff !important;
    transition: all 250ms ease-in-out;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-cta a:hover {
    /*background-color: #4CA13B;*/
    background: linear-gradient(to bottom, #4CA13B 0%,#4CA13B 100%);
    box-shadow: -1px -1px 10px 7px rgba(76,161,59,0.21);
}


/*/// Campaigns ///*/
.campaign-bar-supporter .tb-admin-campaign-bar-icon {
    background-image: url('../../img/thirtybees/top-campaign-bar/campaign-bar-heart.svg');
}

/*/// Responsive ///*/
@media (max-width: 500px) {
    /*.tb-admin-campaigns-bar-small-link {
        display: inline-block;
    }

    .campaign-bar-holder {
        display: none;
    }*/
}

/*/// Responsive ///*/
@media (min-width: 600px) and (max-width: 1284px) {
    .tb-admin-campaigns-bar-small-link {
        display: none;
    }

    .campaign-bar-holder {
        display: inline-block;
    }

    .campaign-bar-holder-inner {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto;
        /*/// columns are 5 not 6*/
        background: blue;
    }

    .tb-admin-campaign-bar-icon, .tb-admin-campaign-bar-text {
        display: none!important;
    }

}

@media (min-width: 941px) {
    .tb-admin-campaign-bar-small-link {
        display: none;
    }

    .campaign-bar-holder {
        display: inline-block;
    }
}
