/*/// ADMIN CAMPAIGN BAR ///*/

.campaign-bar-on .tb-admin-campaign-bar {
    border: 1px solid red;
    display: inline-grid;
    width: 100%;
    background: red;
    grid-template-columns: auto auto auto auto 1fr auto;
}

.tb-admin-campaign-bar ul, .tb-admin-campaign-bar div, .tb-admin-campaign-bar #header_shopversion, .tb-admin-campaign-bar #header_shopname {
    border: 1px solid blue;
}

.campaign-bar-on .tb-admin-campaign-bar #navbar-header {
    border: 1px solid red;
    display: inline-grid;
    width: 100%;
    background: red;
    grid-template-columns: auto auto auto auto 181px 1fr 245px;
}

.notifications-quick-access-holder {
    background-color: green;
}

.campaign-bar-on .tb-admin-campaign-bar .campaign-bar-holder {
    background-color: transparent;
    display: inline-grid;
    grid-template-columns: 16px auto auto;
}

span.maintenance-mode {
    display: none!important;
}

.maintenance-mode-on span.maintenance-mode {
    display: inline-block!important;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-icon {
    width: 16px;
    height: 16px;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-cta {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background: #4AAE35;
    border: 1px solid #307322;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color: #ffff;
    transition: all 250ms ease-in-out;
}

.tb-admin-campaign-bar .tb-admin-campaign-bar-cta:hover {
    background: #4CA13B;
    box-shadow: -1px -1px 10px 7px rgba(76,161,59,0.21);
}


/*/// Campaigns ///*/
.campaign-bar-supporter .tb-admin-campaign-bar-icon {
    background-image: url('../../img/thirtybees/top-campaign-bar/campaign-bar-heart.svg');
}